*example
*genmod.f90
*.swp
examples/
*!sync
*.o
config.*
*.mod
*.a
*.x
*.prog
/bin
make.sys
configure.msg
EPW/examples/
EPW/examples_gitrm/
.SyncIgnore
EPW/src/.SyncArchive/
EPW/src/.SyncID
EPW/src/.SyncIgnore

